@using System.Globalization
@model CleverWeb.Features.Contribuicao.ViewModels.ContribuicaoViewModel

@{
    ViewData["Title"] = @ViewBag.Membro;
}

<h2>@ViewBag.Membro</h2>

<form asp-action="Edit" asp-controller="Contribuicao" method="post">
    @Html.AntiForgeryToken()

    <!-- ID oculto (obrigatório para o POST) -->
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="MembroId" value="@ViewBag.MembroId" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <input asp-for="TipoContribuicao" type="hidden" />
    <input asp-for="FormaPagto" type="hidden"  />
    <input asp-for="Valor" type="hidden" />
    <input asp-for="DataPagamento" type="hidden" />

    <div class="form-group mb-3">
        <label asp-for="MotivoExclusao" class="form-label"></label>
        <input asp-for="MotivoExclusao" required="Teste" class="form-control" />
        <span asp-validation-for="MotivoExclusao" class="text-danger"></span>
    </div>

    <div class="container-fluid d-flex justify-content-between align-items-center align-baseline">
        <a asp-action="MembroList" asp-controller="Contribuicao" class="btn btn-secondary me-2">Voltar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
